html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* Home Page */
.left {
  background-image: url("../images/bw-2.png");
  width: 100%;
  height: 100vh;
  position: relative;
}
.left:hover .overlay-effect {
  opacity: 0;
  cursor: pointer;
}
.overlay-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: .5s ease;
  background-color: rgba(80, 123, 209, 0.6);
  overflow:hidden;
}
.right {
  width: 100%;
  height: 100vh; 
}
.links {
  display: flex;
  justify-content: center;
}
ul {
  padding-left: 0;
}
li {
  list-style-type: none;
  margin: 1em;
}
li a:link {
  color: #3366cc;
  text-decoration:none;
}
li a:hover {
  color: black;
  text-decoration:none;
}
.header {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
.title {
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
.mid {
display: flex;
align-items: center;
justify-content: center;
}
.lower {
display: flex;
align-items: center;
justify-content: center;
}
.name {
  font-size: 3.5em;
  letter-spacing: 2px;
}
.profile {
  font-family: 'Montserrat', sans-serif;
  font-size: .9em;
}
.circle {
height: 30px;
width: 30px;
background-color: #3366cc;
border-radius: 50%;
display: inline-block;
margin-bottom: 1.5em;
}
.quote-container {
  max-height: 32vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
.quote {
  font-size: .9em;
}

/* About Me Page */
.left-about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}
.right-about {
  width: 100%;
  height: 100vh;
}
.about-me {
  font-size: 4em;
  font-family: 'Montserrat', sans-serif;
  color: #3366cc;
  
}
.profile-about {
  padding: 3em 15em 10em 15em;
}
.title-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Work Page */
.left-work {
  width: 100%;
  height: 100vh;
  border: 1px solid black;
}
.right-work {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 6em;
}
.my-work {
  font-size: 4em;
  font-family: 'Montserrat', sans-serif;
  color: #3366cc;
  
}
.content {
  position: relative;
  /* display: inline-block; */
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-top: 2em;
  overflow: hidden;
  border: 2px, solid, #3366cc;
}
.content .content-overlay {
  background: rgba(80, 123, 209, 0.8);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.content:hover .content-overlay{
  opacity: 1;
}
.content-image{
  width: 100%;
}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}
.content-details h3{
  color: #fff;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  /* letter-spacing: 0.09em; */
  margin-bottom: 0.5em;
  /* text-transform: uppercase; */
}
.content-details p{
  color: #fff;
  font-size: 0.8em;
}
.fadeIn-bottom{
  top: 80%;
}

/* Contact Page */
#connect-section {
  margin-top: 15em;
  
}
.title-connect {
  font-size: 5em;
  font-family: 'Montserrat', sans-serif;
  
}
#links {
  margin-top: 6em;
}
.left-connect {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  
  
}
.left-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}
.icons {
  margin: .5em;
  
}
#email {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  padding: 1em;
}
/* li a:link {
  color: #3366cc;
}
li a:visited {
  color: black;
}
li a:hover {
  color: black;
} */

.right-connect {
  background-image: url("../images/connect.png");
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden
  
}

/* Thought Page */
.thoughts-connect {
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
}


@media screen and (max-width:980px) {
  .quote {
      padding: 1em;
  }
}

@media screen and (max-width: 768px) {
  .left, .right, .left-about, .right-about, .right-work, .left-work, .right-connect, .left-connect {
      height: 50vh;
  }
  /* .left-about {
      margin-top: 15em;
  }
  .profile-about {
      padding: 3em 5em 3em 5em;
  }
  .about-me {
      margin-top: 15em;
  }
  .right-work {
      margin-top: 15em;
      
  } */
 
  
}

@media screen and (max-width: 640px) {
  .title {
      text-align: center;
  }
  .profile {
      margin-top: 2em;
  }
  .quote-container {
      margin-top: 2em;
  }
  .quote {
      text-align: center;
  }
  /* .about-me {
      margin-top: 5em;
  } */
  #about-link {
      margin-top: 40em;
  }
  .profile-about {
      padding: 3em;
  }
  #work-link {
      margin-top: 20em;
  }
  .my-work {
      margin-top: 0em;
  }
  .right-work {
      margin-top: 37em;
  }
  #connect-section {
      margin-top: 30em;
  }
  .left-container {
      margin-top: 10em;
  }
  .left {
    background-image: url("../images/bw-3.png");
  
  }
  
}
