/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav {
  background-color: transparent !important;
}

blockquote {
  font-size: 3.5rem;
  padding: 8rem;
  border-left: none;
}
cite {
  display: block;
  text-align: right;
  margin-right: 5em;
  font-family: 'Mukta Malar', sans-serif;
  margin-top: 1rem;
  font-size: 2rem;
  color: #000;
  font-style: normal;
  letter-spacing: .2rem;
}
blockquote q {
  font-family: 'Playfair Display', sans-serif;
  font-style: italic;
  letter-spacing: .08rem;
}
blockquote q span { 
  will-change: opacity, filter;
  opacity: 0;
  filter: blur(0px);
}
q {
  quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
    margin-right: .8rem;
}
q:after {
  content: close-quote;
}
q:before, q:after {
  color: #000;
  font-size: 4rem;
}

#test {
  min-height: 100vh;
  background: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* nav ul a,
nav .brand-logo {
  color: #fff !important;
} */

.brand-logo {
  color: #c0ca33 !important;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 1.5rem !important;
}

.circle {
  width: 6rem;
  margin-top: 0.4rem;

}

li {
  margin-top: 0.8rem;
}

p {
  line-height: 2rem;
}

.quote {
  margin-left: 10rem;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 1.3rem;
}

.body-text {
  margin-left: 10rem;
  font-family: 'Mukta Malar', sans-serif;
  padding-right: 10rem;
}
/* .sidenav-trigger {
  color: #26a69a;
} */

.title {
  color:#fff !important;
  font-family: 'Playfair Display', sans-serif;
  padding-bottom: 20px;
  margin-top: 3rem;
  font-size: 4rem;
}

.title-1 {
  color: #fff;
  font-family: "Playfair Display", sans-serif;
  padding: 100px 100px 50px 100px;
  margin-left: 4rem;
  font-size: 7rem;
}

.title-2 {
  color:#000;
  font-family: 'Playfair Display', sans-serif;
  padding-bottom: 20px;
  margin-top: 3rem;
  /* margin-left: 4rem; */
  font-size: 4rem;
}

#about-me-section {
  /* padding: 80px; */
  background-image: url(../images/bw-me.jpg);
  background-size: cover;
  color: #fff !important;
  min-height: 100vh;
}

#connect-section {
  background-image: url(../images/background-2.png);
  height: 100%;
}

.work-text {
  color: #c0ca33 !important;
}

.center-align {
  margin-left: 7rem;
  margin-right: 7rem;
}

.wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#connect-section {
  background-color: #000;
  height: 100%;

}

#links {
  padding: 1.5rem;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  
.parallax-container .section {
    width: 100%;
}

span {
  margin: 5rem 3rem 5rem 3rem;
  
}
.footer-copyright {
  background-color: #c0ca33;
}

/* Media Queries */ 

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .quote {
    margin: 2rem;
    font-family: 'Mukta Malar', sans-serif;
    font-size: 1.3rem;
  }
  
  .body-text {
    margin: 2rem;
    font-family: 'Mukta Malar', sans-serif;
    padding-right: 0rem;
  }
  .title-1 {
    margin-left: 8.5rem;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  #about-me-section {
    object-fit: fill;
  }
  .title-1{
    margin-left: 1.8rem;
  }
  .quote {
    margin: 2rem;
    font-family: 'Mukta Malar', sans-serif;
    font-size: 1.3rem;
  }
  
  .body-text {
    margin: 2rem;
    font-family: 'Mukta Malar', sans-serif;
    padding-right: 0rem;
  }
    
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* Test */

/* .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
} */

.content {
  position: relative;
  width: 100%;
  /* max-width: 400px; */
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  font-family: "Playfair Display", sans-serif;
  /* letter-spacing: 0.09em; */
  margin-bottom: 0.5em;
  /* text-transform: uppercase; */
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}
